# Enable Rewrite Engine
RewriteEngine On

# Redirect all requests to index.php if the file or directory doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

# Custom 404 document
ErrorDocument 404 /404.php
